<div class="return-button">
  <%= link_to season_path(@season) do %>
     <button type="button" class="btn btn-primary">Retour</button>
  <% end %>
</div>

<div class="pages-wrapper">
  <div class="page-title">
    <h1>Crée ton équipe pour participer à <%= @season.name %></h1>
  </div>

  <div class="new-team-form">
    <%= simple_form_for [@season, @team], method: :post do |f| %>
      <%= f.input :name, placeholder: 'RC Saucisse', label: 'Nom de ton équipe', error: 'Tu dois nommer ton équipe' %>
      <%= f.input :logo, placeholder: '', label: 'Logo de ton équipe' %>
      <%= f.input :main_colour, placeholder: '', label: 'Couleur principale de ton équipe' %>
      <%= f.input :secondary_colour, placeholder: '', label: 'Couleur secondaire de ton équipe' %>
      <%= f.button :submit, class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>
