<div class="return-button">
  <%= link_to season_path(@season) do %>
     <button type="button" class="btn btn-primary">Retour</button>
  <% end %>
</div>

<div class="pages-wrapper">
  <div class="page-title">
    <h1>Prépare la compo du <%= @team.name %></h1>
  </div>

  <div class="budget">
    <%= @team.budget %>
  </div>

  <div class="slates-wrapper">
    <div class="players">
      <h2>Tes Prospects</h2>
        <div class="player-slate">
          <div class="player-info">
            Nom
          </div>
          <div class="player-info">
            Postes
          </div>
          <div class="player-info">
            Club
          </div>
          <div class="player-offer">
            Montant
          </div>
        </div>

      <% @offers.each do |offer| %>

        <div class="player-slate">
          <div class="player-info">
            <%= offer.player.first_name %> <%= offer.player.last_name %>
          </div>
          <div class="player-info">
            <%= offer.player.position %>
          </div>
          <div class="player-info">
            <%= offer.player.club %>
          </div>
          <div class="player-offer">
            <%= offer.amount %>
          </div>
        </div>
      <% end %>

    </div>
    <div class="players">
      <h2>Tes Joueurs</h2>
      <div class="player-slate">
        <div class="player-info">
          Nom
        </div>
        <div class="player-info">
          Postes
        </div>
        <div class="player-info">
          Club
        </div>
        <div class="player-offer">
          Activé
        </div>
      </div>
      <% unless @selections.nil? %>
        <% @selections.each do |selection| %>

          <div class="player-slate">
            <div class="player-info">
              <%= selection.player.first_name %> <%= selection.player.last_name %>
            </div>
            <div class="player-info">
              <%= selection.player.position %>
            </div>
            <div class="player-info">
              <%= selection.player.club %>
            </div>
            <div class="player-info">

            </div>
          </div>

        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="new-season-btn">
  <%= link_to season_team_players_path(@season, @team) do %>
    <button type="button" class="btn btn-primary">Liste des Joueurs</button>
  <% end %>
</div>


