<div class="pages-wrapper">
  <div class="page-title">
    <h1>Saisons en cours</h1>
  </div>

  <div class="slates-wrapper">
    <% if @my_seasons.empty? && @teams.empty? %>
      <h3>Crée une saison ou rejoins celle de tes amis.</h3>
    <% else %>

      <% @my_seasons.each do |season| %>
        <% if season.teams.empty? %>
          <%= link_to season_path(season.id), class: 'single-slate' do %>
            <div class="slate-icon">
              <%= inline_svg 'brennus.svg' %>
            </div>
            <div class="slate-text">
              <h3><%= season.name %></h3>
              <br>
              <p>(<%= season.teams.count %> / <%= season.number_of_teams %>)</p>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <% @teams.each do |team| %>
        <%= link_to season_path(team.season.id), class: 'single-slate' do %>
          <div class="slate-icon">
            <%= inline_svg 'brennus.svg' %>
          </div>
          <div class="slate-text">
            <h3><%= team.season.name %></h3>
            <br>
            <p>...(<%= team.season.teams.count %> / <%= team.season.number_of_teams %>)</p>
          </div>
        <% end %>
      <% end %>
    <% end %> <%# Balise if %>
  </div>


</div>

<%= link_to new_season_path do %>
  <div class="action-btn">
    <h3>Nouvelle Saison</h3>
      <!--     <%= image_tag 'next.svg' %> -->
  </div>
<% end %>
