<div class="pages-wrapper">
  <div class="page-title">
    <h1><%= @season.name %></h1>
  </div>

  <div class="slates-wrapper">
    <% @teams.each do |team| %>
      <%= team.name %><br>
    <% end %>


    <% @days.each do |day| %>
      <h3>Day <%= day.id %></h3>
      <% day.games.each do |game| %>
        <p><%= game.home_team.name %> - <%= game.away_team.name %></p>
      <% end %>
    <% end %>

  </div>
</div>
