<div class="pages-wrapper">
  <div class="page-title">
    <h1><%= @season.name %></h1>
  </div>

  <div class="slates-wrapper">
    <% @teams.each do |team| %>
      <%= team.name %><br>
    <% end %>

  <%# Testing the calendar system %>
  <div class="games-displayer">
    <h3>Day One</h3>
    <h4>Game One</h4>
    <%= @calendar[:day_one][:game_one][:home_team].name %> VS <%= @calendar[:day_one][:game_one][:away_team].name %>

    <h4>Game Two</h4>
    <%= @calendar[:day_one][:game_two][:home_team].name %> VS <%= @calendar[:day_one][:game_two][:away_team].name %>

    <h3>Day Two</h3>
    <h4>Game Two</h4>
    <%= @calendar[:day_two][:game_one][:home_team].name %> VS <%= @calendar[:day_two][:game_one][:away_team].name %>

    <%# Game Two %>
    <h4>Game One</h4>
    <%= @calendar[:day_two][:game_two][:home_team].name %> VS <%= @calendar[:day_two][:game_two][:away_team].name %>

    <h3>Day Three</h3>
    <h4>Game One</h4>
    <%= @calendar[:day_three][:game_one][:home_team].name %> VS <%= @calendar[:day_three][:game_one][:away_team].name %>

    <h4>Game Two</h4>
    <%= @calendar[:day_three][:game_two][:home_team].name %> VS <%= @calendar[:day_three][:game_two][:away_team].name %>
  </div>









</div>
