<div class="return_button">
  <%= link_to seasons_path do %>
     <button type="button" class="btn btn-primary">Retour</button>
  <% end %>
</div>

<div class="pages-wrapper">
  <div class="page-title">
    <h1><%= @season.name %></h1>
  </div>

  <div class="slates-wrapper">

    <div class="season-calendar scroll-snap">
      <% @days.each do |day| %>
        <div class="day-calendar">
          <h3>Day <%= day.id %></h3>
          <% day.games.each do |game| %>
            <div class="row">
              <div class="col col-left">
                <p><%= game.home_team.name %></p>
              </div>
              <div class="col-hyphen"> - </div>
              <div class="col col-right">
                <p><%= game.away_team.name %></p>
              </div>

            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="ranking">
      <% @teams.sort.each do |team| %>
        <div class="rank">
          <%= team.name %>
        </div>
      <% end %>
    </div>


  </div>
</div>

<div class="new-season-btn">
  <% if @my_team.nil? %>
    <%= link_to new_season_team_path(@season) do %>
      <button type="button" class="btn btn-primary">Créer mon équipe</button>
    <% end %>
  <% else %>
    <%= link_to season_team_path(@season, @my_team.id) do %>
       <button type="button" class="btn btn-primary">Préparer ma compo</button>
    <% end %>
  <% end %>
</div>

