<div class="return-button">
  <%= link_to seasons_path do %>
    <%= image_tag 'return.svg' %>
  <% end %>
</div>

<% if @season.user == current_user && @season.status == 'joining' && @season.teams.any? %>
  <div class="copy-url">
    <button type="button" class='btn btn-primary btn-url' onclick="copyToClipboard('<%= season_url(@season) %>')">Copie URL</button>
  </div>
<% end %>

<div class="pages-wrapper">
  <div class="page-title">
    <h1><%= @season.name %></h1>
    <% if @season.status == 'joining' %>
      <p>(<%= @season.teams.count %>/<%= @season.number_of_teams %>)</p>
    <% end %>
  </div>

  <div class="slates-wrapper seasons-show-slates-wrapper">

    <div class="season-calendar scroll-snap">
      <% @days.each do |day| %>
        <div class="day-calendar">
          <div class="single-day">
            <h3>Day <%= @days.index(day) + 1 %></h3>
          </div>
          <% day.games.each do |game| %>
            <div class="row">
              <div class="col col-left">
                <p><%= game.home_team.name %></p>
              </div>
              <div class="col-hyphen"> - </div>
              <div class="col col-right">
                <p><%= game.away_team.name %></p>
              </div>

            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="ranking">
      <%= render 'ranking' %>
    </div>


  </div>
</div>

<%= link_to new_season_path do %>
  <div class="action-btn">
    <h3>Nouvelle Saison</h3>
<!--     <%= image_tag 'next.svg' %> -->
  </div>
<% end %>


<% if @my_team.nil? %>
  <%= link_to new_season_team_path(@season) do %>
    <div class="action-btn">
      <h3>Créer mon équipe</h3>
<!--       <%= image_tag 'next.svg' %> -->
    </div>
  <% end %>
<% else %>
  <%= link_to season_team_path(@season, @my_team.id) do %>
    <div class="action-btn">
      <h3>Préparer ma compo</h3>
<!--       <%= image_tag 'next.svg' %> -->
    </div>
  <% end %>
<% end %>
