<div class="player-slate available">
  <div class="player-info">
    <%= @player.first_name %> <%= @player.last_name %>
    <%#= player_availability(@player, @team) %>
  </div>
  <div class="player-info">
    <%= @player.position %>
  </div>
  <div class="player-info">
    <%= @player.club %>
  </div>
  <div class="player-info">

    <% if @team.round == @season.round %>
      <button type="button" id="<%= @player.id %>-offer" class="offer-btn btn btn-primary">Faire une offre</button>
    <% end %>

  </div>
</div>

<div id="modal<%= @player.id %>-offer" class="offer-form d-none">
  <%= simple_form_for([@season, @team, @new_offer], method: :post) do |f| %>
    <%= f.input :amount, label: 'Montant de ton offre' %>
    <%= f.association :team, default: params[:team_id], as: :hidden %>
    <%= f.association :player, label: false, selected: @player.id, input_html: { class: 'd-none' } %>

    <button type="button" id="create<%= @player.id %>-offer" class="offer-btn btn btn-primary">
      <%= f.button :submit, "Valider" %>
    </button>
  <% end %>


  <%= link_to '#', id: "cancel#{@player.id}-offer" do %>
    Retour
  <% end %>

</div>
