<div class="player-slate unavailable">
  <div class="player-info">
    <%= @player.first_name %> <%= @player.last_name %>
    <%#= player_availability(@player, @team) %>
  </div>
  <div class="player-info">
    <%= @player.position %>
  </div>
  <div class="player-info">
    <%= @player.club %>
  </div>
  <div class="player-info">
    <%= player_current_season_team(@season, @player).name %>
  </div>
</div>
