<div class="return-button">
  <%= link_to season_team_path(@season, @team) do %>
     <button type="button" class="btn btn-primary">Retour</button>
  <% end %>
</div>

  <div class="budget">
    Ton Budget : <%= @team.budget %> €
  </div>

<div class="pages-wrapper">
  <div class="page-title">
    <h1>Liste des Joueurs</h1>
    Team Round : <%= @team.round %>, Season Round : <%= @season.round %>
  </div>

  <div class="slates-wrapper">
    <div class="player-slate">
      <div class="player-info">
        Name
      </div>
      <div class="player-info">
        Postes
      </div>
      <div class="player-info">
        Club
      </div>
      <div class="player-offer">
        <% if @team.round == @season.round %>
          Disponibilité
        <% else %>
          En attente des autres joueurs
        <% end %>
      </div>
    </div>
    <% @players.each do |player| %>
      <% @player = player %>
      <%= render player_availability(@player, @team) %>
    <% end %>
  </div>
</div>

<% if @season.round == @team.round %>
  <div class="action-btn">

    <%= simple_form_for([@season, @team], method: :patch) do |f| %>

      <button type="button" id="create<%= @player.id %>-offer" class="btn btn-primary">
        <%= f.button :submit, "Valider ce Round" %>
      </button>
    <% end %>

  </div>
<% end %>
