<div class="return_button">
  <%= link_to seasons_path do %>
     <button type="button" class="btn btn-primary">Retour à mes saisons</button>
  <% end %>
</div>

<div class="pages-wrapper">
  <div class="page-title">
    <h1>Liste des Joueurs</h1>
  </div>

  <div class="slates-wrapper">
    <div class="player-slate">
      <div class="player-info">
        Name
      </div>
      <div class="player-info">
        Postes
      </div>
      <div class="player-info">
        Club
      </div>
      <div class="player-offer">
        Offre
      </div>
    </div>
    <% @players.each do |player| %>

      <div class="player-slate">
        <div class="player-info">
          <%= player.first_name %> <%= player.last_name %>
        </div>
        <div class="player-info">
          <%= player.position %>
        </div>
        <div class="player-info">
          <%= player.club %>
        </div>
        <div class="player-offer">

          <button type="button" id="<%= player.id %>-offer" class="offer-btn btn btn-primary">Faire une offre</button>

        </div>
      </div>

      <div id="modal<%= player.id %>-offer" class="draft-form d-none">
        <% @current_player = player %>
        <%= simple_form_for([@season, @team, @draft], method: :post) do |f| %>
          <%= f.input :amount, label: 'Montant' %>
          <%= f.association :team, default: params[:team_id] %>
          <%= f.association :player, default: @current_player, as: :hidden %>
          <button type="button" id="exit<%= player.id %>-offer" class="offer-btn btn btn-primary">
            <%= f.button :submit, "Valider l'offre" do %>
          </button>
          <% end %>
        <% end %>


      </div>
    <% end %>
  </div>
</div>
